<div class="centrar">
    <h2>Alumnos</h2>
    <h5>Lista de Alumnos</h5>
</div>
<hr />

<a href="#">Agregar </a>

<table>
    <thead>
        <tr>
            <th>Editar</th>
            <th>IdReceta</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>IdIngrediente</th>
            <th>IdPais</th>
            <th>Imagen</th>
            <th>Porcion</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recetas of resultAPI">
            <td>{{recetas.editar}}</td>
            <td>{{recetas.IdReceta}}</td>
            <td>{{recetas.Nombre}}</td>
            <td>{{recetas.Descripcion}}</td>
            <td>{{recetas.IdIngrediente}}</td>
            <td>{{recetas.IdPais}}</td>
            <td>{{recetas.Imagen}}</td>
            <td>{{recetas.Porcion}}</td>
            <td>{{recetas.eliminar}}</td>
        </tr>
    </tbody>
</table>