body{
    background-image: url("https://img.freepik.com/foto-gratis/ingredientes-italianos-apetitosos-frescos-sabrosos-comida-fondo-oscuro-listo-cocinar-inicio-italiano-comida-saludable-concepto-cocina-viraje_1220-1820.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1703635200&semt=sph");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .difuminar{
    backdrop-filter: blur(10px);
  }
  .text-white{
    -webkit-text-stroke: 0.1px black;
    color:#F6F1EE;
  }
  .centrar{
    display: flex;
    justify-content: center;
  }
  .centrar-texto{
    text-align: center;
  }
  table{
    border: 1px solid #ED7D31;
    border-collapse: collapse;
    border-radius: 10px;
  }
  td, th{
    border: 1px solid #ED7D31;
  }
  tr:hover{
    background-color: hsla(47, 28%, 100%, 0.2);
  }
  button{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #F6F1EE;
    border-radius: 5px;
    width: 50%;
    height: 25px;
  }
  button:hover{
    background-color: rgb(219, 138, 32);
  }
  label, p{
    border-bottom: 1px solid;
  }
  .form-control{
    border: 1px solid;
    border-radius: 5px;
    width: 50%;
    height: 5%;
  }
  select:hover{
    border-color: aqua;
  }
  input:hover{
    border-color: aqua;
  }
  .thead{
    background-color: #F6F1EE;
    color: black;
  }
  .button-green{
    color: #F6F1EE;
    background-color: green;
  }
  .button-red{
    color: #F6F1EE;
    background-color: red;
  }
  .button-yellow{
    color: black;
    background-color: yellow;
  }
  /*Bordear los elementos*/
  .bordear{
    border: 1px solid #ED7D31;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
  }
  .letra-cursiva{
    font-family: cursive;
  }
